%% Pool settings
{acquire_increment, 3}.
{initial_pool_size, 5}.
{max_pool_size, 30}.
{min_pool_size, 3}.

%% Pool timeout settings
{idle_timeout, 7200000}.
{max_age, infinity}.

%% Pool Worker Setup
{poolName1, 
    [
        {module, my_module},
        {args, [my_args]},
        {idle_timeout, 5000}
    ]
}.

{poolName2, 
    [
        {module, my_other_module},
        {args, [my_other_args]},
        {max_pool_size, 10},
        {idle_timeout, 60000},
        {max_age, 7200000}
    ] 
}.